body, html {
    margin: 0;
    padding: 0;
}

.vertical_divider {
    width: 2px;
    background: rgb(139, 139, 139);
    height: 90%;
}

.settings_holder {
    width: 98vw;
    height: 35vh;
    background: rgb(202, 202, 202);
    box-shadow: 0px 2px rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    flex-wrap: wrap;
}

.settings_title {
    font-size: 1.5rem;
    margin-bottom: 2vh;
    width: 20%;
}

.settings_switch {
    margin-left: 2vh;
}

.settings_field {
    width: 20%;
    margin-bottom: 2vh;
}

.tap_hole_list {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.add_tap_hole {
    margin-top: 3vw;
}
.add_tap_hole_field {
    margin-bottom: 2vh;
}