body, html {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    --mdc-theme-primary: #0277bd;
}

mwc-switch {
    --mdc-switch-selected-track-color: #58a5f0;
}

.vertical_divider {
    width: 2px;
    background: rgb(139, 139, 139);
    height: 90%;
}

.settings_holder {
    width: 98vw;
    height: 36vh;
    background: rgb(202, 202, 202);
    box-shadow: 0px 2px rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    flex-wrap: wrap;
}

.settings_title {
    font-size: 1.5rem;
    margin-bottom: 2vh;
    width: 19%;
}

.settings_switch {
    margin-left: 2vh;
}

.settings_field {
    width: 19%;
    margin-bottom: 2vh;
}

.tap_hole_list {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.add_tap_hole {
    margin-top: 3vw;
}
.add_tap_hole_field {
    margin-bottom: 2vh;
}

.perspective {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    border: 1px solid black;    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.perspective_bttn {
    border-left: 1px solid black;
}
.side {
    transform: rotate(270deg);
    border-left: none;
    border-top: 1px solid black;
}
.front {
    transform: rotate(180deg);
    border-left: none;
    border-right: 1px solid black;
}